<style>
    h1 {
        font-size: 20px;
        color: #aaa;
    }

    .current.task {
        font-size: 40px;
        font-weight: bold;
        margin: 20px;
    }

    .context, .move {
        display: inline;
        margin: 10px;
    }

    .complete {
        margin: 20px;
    }

    h2 {
        margin: 20px;
        display: inline;
        font-weight: normal;
        font-size: 18px;
    }
</style>

<form method='POST' action='/'>
    <input type='text' id='name' name='name' placeholder='create new task'/>
    <input type='hidden' name='context' value='{{ context.id }}'/>
    <input type='submit'/>
</form>

<div>
    CURRENT CONTEXT: {{ context.title }}
</div>
{% for c in contexts %}
<div class='context'>
    <a href='/?context={{ c.id }}'>{{ c.title }}</a>
</div>
{% endfor %}

{% if task %}
<div class='current task'>
    {{ task.title }}
</div>

<div class='complete'>
    <a href='/complete?task={{ task.id }}&context={{ context.id }}'>Complete Task</a>
</div>

<h2>Move To:</h2>
<div class='move'>
    <a target='_blank'
       href='http://www.google.com/calendar/event?action=TEMPLATE&text={{ task.title }}&details={{ task.id }}'>Calendar</a>
</div>
{% for c in contexts %}
<div class='move'>
    <a href='/move?task={{ task.id }}&context={{ context.id }}&destination_context={{ c.id }}'>{{ c.title }}</a>
</div>
{% endfor %}
{% else %}
<div class='current task'>
    NOTHING TO DO!
</div>
{% endif %}

<script>
    document.getElementById('name').focus();
</script>
