<style>
	ul {
		padding:0;
		margin:0;
		display:inline;
	}

	#name {
		font-size:30px;
		padding:5px;
	}
    .context {
        display: inline;
        padding: 5px 10px;
		list-style: none;
		background-color: #aaa;
    }

	.context a {
		text-decoration: none;
		color: white;
	}
	.context.current {
		font-weight: bold;
		background-color: #ccc;
	}
	.context.current a {
		color: black;
	}

	.current.task {
		margin-top:10px;
		font-size:40px;
		padding:10px;
		font-weight:bold;
	}
	
	.complete, .title, .move {
		display:inline;
	}
	
	
</style>

<form method='POST' action='/'>
    <input type='text' id='name' name='name' placeholder='Create New Task'/>
    <input type='hidden' name='context' value='{{ context.id }}'/>
</form>

<ul class='contexts'>
{% for c in contexts %}
<li class='context{% if c.title == context.title %} current{% endif %}'>
    <a href='/?context={{ c.id }}'>{{ c.title }}</a>
</li>
{% endfor %}


<div class='current task'>
	{% if task %}
    	{{ task.title }}
	{% else %}
    	NOTHING TO DO!
	{% endif %}
</div>

{% if task %}
	<div class='complete'>
    	<a href='/complete?task={{ task.id }}&context={{ context.id }}'>Complete Task</a>
	</div>

	<div class='title'>or move to:</div>
	<ul>
	<li class='move'>
    	<a target='_blank'
       		href='http://www.google.com/calendar/event?action=TEMPLATE&text={{ task.title }}&details={{ task.id }}'>Calendar</a>
	</li>
	{% for c in contexts %}
	<li class='move'>
    	<a href='/move?task={{ task.id }}&context={{ context.id }}&destination_context={{ c.id }}'>{{ c.title }}</a>
	</li>
	{% endfor %}
	</ul>
{% endif %}

<script>
    document.getElementById('name').focus();
</script>
